<a href="https://colab.research.google.com/github/shrikantkhule100-ux/PORTFOLIO/blob/main/Lesson_012_Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
data= {
    'Students_Name': ['Ram','Anil','Raj'],
    'AI_score': [85,95,78],
    'City': ['katmandu','Pune','Delhi']


}
df=pd.DataFrame(data)
print(df)

  Students_Name  AI_score      City
0           Ram        85  katmandu
1          Anil        95      Pune
2           Raj        78     Delhi