<a href="https://colab.research.google.com/github/shrikantkhule100-ux/PORTFOLIO/blob/main/Lesson_012_Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
data = {
    'Name':['Ram','Ajit','Hari','Raj'],
    'AI_Score': [80,95,98,75],
    'city':['mumbai','delhi','pune','veer']

}
df=pd.DataFrame(data)
print(df)

#1. create a filter (condition)
condition = df['AI_Score']>90
print(condition)
high_scorers = df['AI_Score']=98

print("Orignal Table:\n",df)
print("\n--- only student with Score > 90---")
print("the top Score is:-",high_scorers )

   Name  AI_Score    city
0   Ram        80  mumbai
1  Ajit        95   delhi
2  Hari        98    pune
3   Raj        75    veer
0    False
1     True
2     True
3    False
Name: AI_Score, dtype: bool
Orignal Table:
    Name  AI_Score    city
0   Ram        98  mumbai
1  Ajit        98   delhi
2  Hari        98    pune
3   Raj        98    veer

--- only student with Score > 90---
the top Score is:- 98